
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

div.contactContainer {
    display: flex;
    font-family: Roboto, sans-serif;
    width: 70%;
    padding: 60px 40px;
}

div.inputable {
    width: 100%;
    display: flex;
    flex-direction: column;
}

div.inputable input {
    border: none;
    margin-top: 10px;
    border-bottom: 2px solid #e6b31e ;
    padding: 10px 0;
    width: 50%;
}

div.inputable textarea {
    border: 2px solid #e6b31e ;
    width: 100%;
    padding: 5px;
    height: 200px;
    border-radius: 3px;
    margin: 30px 0;
    resize: none;
}

div.inputable  button {
    border:1px solid #e6b31e ;
    background: #e6b31e;
    font-size: 16px;
    font-weight: bold;
    border-radius: 3px;
    color: white;
    padding: 10px;
    cursor: pointer;
    

}