@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.officeContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 80px;
    padding: 60px 40px;
}
.officeContainer div:nth-child(1) {
    display: flex;
    width: 35%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 20px;
}
.officeContainer div {
    animation: transitionRight 1s;
}

.officeContainer div:nth-child(1) p {
    color: #9A9A9A;
    font-size: 1.2em;
    line-height: 30px;
    text-align: start;
}

.officeContainer div:nth-child(2) {
    width: 65%;
}
.officeContainer img.image {
    width: 100%;
    height: 400px;
    border-radius: 3px;
    border: 3px solid #F5C03B;
}

.officeContainer button {
    cursor: pointer;
    border: none;
}
