@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&display=swap");

div.headerContainer {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  background-color: #f5c03b;
  border-bottom: 1px solid #f5c03b;
}
div.headerContainer div.logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-family: Dancing Script;
  font-size: 18px;
  color: #fff;
}
div.headerContainer div.logo h1 {
  margin-left: 3px;
}
div.headerContainer div.logo img {
  margin-left: 10px;
  width: 70px;
  height: 70px;
}

.linkMenu {
  position: relative;
  display: none;
  max-width: 10%;
  flex-wrap: nowrap;
  flex-direction: column;
  z-index: 20;
  margin-right: 20px;
}
.linkMenu button {
  margin: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.links {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.linkMenu div {
  transition: all 0.5s;
  height: 5px;
  width: 30px;
  margin: 3px;
  background: #fff;
}

.linkMenu div.active {
  transition: all 1s;
  transform: rotateY(20deg);
}

.linkMenu div.active:nth-child(1) {
  transform: rotate(45deg) translate(1.5px, 5.5px);
}
.linkMenu div.active:nth-child(2) {
  opacity: 0;
}

.linkMenu div.active:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -10px);
}

.link {
  padding: 10px;
  margin-left: 10px;
  width: 250px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.link p {
  font-family: Roboto;
  padding-bottom: 3px;
  font-weight: 700;
  border-bottom: 1px solid #fff;
}

.link:hover p {
  border-bottom: 1px solid #f5c03b;
}
.link:hover {
  transform: translateY(-3px);
  transition: all 0.2s;
  background-color: #fff;
  color: #f5c03b;
  border-radius: 3px;
  opacity: 0.9;
}

@media (max-width: 925px) {
  .links {
    display: none;
  }
  .linkMenu {
    display: block;
  }
}

@media (max-width: 560px) {
  div.headerContainer div.logo h1 {
    margin-left: 3px;
    font-size: 1.8em;
  }
  div.headerContainer div.logo img {
    margin-left: 10px;
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 400px) {
  div.headerContainer div.logo h1 {
    margin-left: 3px;
    font-size: 1.6em;
  }
  div.headerContainer div.logo img {
    margin-left: 10px;
    width: 45px;
    height: 45px;
  }
}
