* 
{ 
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

  body {
    height: 100%;
    background-color: #FCFAF1;
    overflow-x: hidden;
  }


   ul {
     list-style: none;
   }

   .detail {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 20%;
}

input, textarea {
  background: transparent;
}

@keyframes transitionIn {
  0% {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  30% {
    opacity: 0.4;
    transform: rotateX(-7deg);
  }

  70% {

    opacity: 0.7;
    transform: rotateX(-4);
  }

  100% {
    opacity: 1;
    transform: rotateX(0);

  }
}