* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #fcfaf1;
  overflow: hidden;
}

ul {
  list-style: none;
}

input,
textarea {
  background: transparent;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateX(-10deg);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes transitionTop {
  from {
    opacity: 0;
    transform: translateY(1000px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes transitionBottom {
  from {
    opacity: 0;
    transform: translateY(-1000px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes transitionRight {
  from {
    opacity: 0;
    transform: translateX(-1000px);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
