* 
{ 
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

  body {
    height: 100%;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
  }


   ul {
     list-style: none;
   }
