.aboutContainer {
    font-family: Roboto, sans-serif;
    width: 70%;
    margin-top: 80px;
    padding: 60px 40px;
}

.aboutContainer h1 {
    color: #9A9A9A;
    font-size: 2em;
}

.aboutContainer p {
    color: #9A9A9A;
    font-size: 1.3em;
    line-height: 35px;
}

.aboutContainer div:not(:first-child) {
    margin-top: 40px;
}

@keyframes transitionToTop {
    from {
      opacity: 0;
      transform: translateY(0);
      transform: translateY(1000px);
    }
  
    to  {
      opacity: 1;
      transform: translateY(0);
  
  
    }
  }
.aboutContainer div {
    animation: transitionIn 1s;
}

