@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,500;1,700&display=swap");

.aboutContainer {
  font-family: Roboto, sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 80px;
  padding: 60px 40px;
}

.aboutContainer div.aboutLeft {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.detailAbout {
  position: fixed;
  display: none;
  right: 0;
  bottom: 0;
  animation: none;
  width: 20%;
  max-width: 450px;
}
.aboutContainer div.aboutRight {
  width: 40%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-left: 50px;
}

.aboutContainer div.aboutRight img {
  width: 100%;
  border-radius: 3px;
  border: 2px solid #f5c03b;
}

.aboutContainer h2 {
  color: #f5c03b;
  font-size: 1em;
}
.aboutContainer h1 {
  color: #f5c03b;
  font-size: 1.5em;
}

.aboutContainer p {
  color: #9a9a9a;
  font-size: 1em;
  line-height: 30px;
}

.aboutContainer div.myHistory,
div.phrase {
  margin-top: 40px;
}

.aboutContainer div,
h2 {
  animation: transitionIn 1s;
}

.aboutContainer div.phrase p {
  font-weight: normal;
  line-height: normal;
  text-align: right;
  font-style: italic;
  color: #f5c03b;
}

.aboutContainer div.phrase h5 {
  font-weight: bold;
  line-height: normal;
  text-align: right;
  font-style: bold;
  padding: 3px;
  color: #f5c03b;
}
@media (min-width: 1560px) {
  .aboutContainer div.aboutRight img {
    max-width: 600px;
  }
}

@media (max-width: 900px) {
  .aboutContainer div.aboutRight {
    display: none;
  }
  .aboutContainer div.aboutLeft {
    width: 100%;
  }
}

@media (max-width: 569px) {
  .detailAbout {
    display: flex;
    width: 50%;
    opacity: 0.2;
  }
  .aboutContainer {
    padding: 60px 10px;
  }
  .aboutContainer div.aboutLeft {
    text-align: center;
    margin-top: 80px;
    max-height: 90vh;
  }
  .aboutContainer div.phrase p {
    text-align: center;
  }
  .aboutContainer div.phrase h5 {
    text-align: center;
    margin-bottom: 10px;
  }
}
